<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Bugs Cleanup Dashboard</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html" aria-controls="tabHome" role="tab" data-toggle="tab" style="padding-top:0px">
                    <img alt="Brand" src="https://www.openstack.org/themes/openstack/images/project-mascots/{{ project }}/OpenStack_Project_{{ project }}_horizontal.png" height="50px">
                </a>
            </div>
            <ul class="nav navbar-nav" role="tablist">
                <li role="presentation" class="active"><a href="#tabHome" aria-controls="tabHome" role="tab" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="#tabRecent" aria-controls="tabRecent" role="tab" data-toggle="tab">Recent</a></li>
                <li role="presentation"><a href="#tabUndecided" aria-controls="tabUndecided" role="tab" data-toggle="tab">Undecided Importance</a></li>
                <li role="presentation"><a href="#tabInconsistent" aria-controls="tabInconsistent" role="tab" data-toggle="tab">Inconsistant</a></li>
                <li role="presentation"><a href="#tabIncomplete" aria-controls="tabIncomplete" role="tab" data-toggle="tab">Incomplete</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stale States<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="#tabFixCommitted" aria-controls="tabFixCommitted" role="tab" data-toggle="tab">Fix Commmited</a></li>
                        <li role="presentation"><a href="#tabIncompleteStale" aria-controls="tabIncompleteStale" role="tab" data-toggle="tab">Stale - Incomplete</a></li>
                        <li role="presentation"><a href="#tabInProgressStale" aria-controls="tabInProgressStale" role="tab" data-toggle="tab">Stale - In Progress</a></li>
                        <li role="presentation"><a href="#tabWishlist" aria-controls="tabWishlist" role="tab" data-toggle="tab">Wishlist</a></li>
                        <li role="presentation"><a href="#tabExpired" aria-controls="tabExpired" role="tab" data-toggle="tab">Exipred</a></li>
                    </ul>
                </li>
            </ul><!-- tabLowHangingFruit -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tagged Issues<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="presentation"><a href="#tabLowHangingFruit" aria-controls="tabLowHangingFruit" role="tab" data-toggle="tab">Low Hanging Fruit</a></li>
                        <li role="presentation"><a href="#tabBreaksGate" aria-controls="tabBreaksGate" role="tab" data-toggle="tab">Breaks Gate</a></li>
                        <li role="presentation"><a href="#tabDocs" aria-controls="tabDocs" role="tab" data-toggle="tab">Docs</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tabHome">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Bugs Cleanup Dashboard</h1>
                            </div>
                            <div class="panel-body">
                                <p>
                                    This dashboard intents to give an overview of the bug reports which need attention
                                </p>
                                <p>
                                    Code and issues at
                                    <a href="https://github.com/grahamhayes/gerrit-tools/blob/master/lp/lp-dash.py">
                                        github</a>
                                    Forked from <a href="https://github.com/markuszoeller/openstack/blob/master/scripts/launchpad/bugs_dashboard.py">Markus Zoeller (markus_z)</a>
                                </p>
                                <p>
                                    This gets updated hourly. Last update: {{ last_update }}
                                </p>
                                <p>
                                    Original Author: Markus Zoeller (markus_z)
                                    Author: Graham Hayes (mugsie)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabRecent">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                All bugs filed recently (in the last 10 days)
                            </div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <td>Bug</td>
                                    <td>Title</td>
                                    <td>Age</td>
                                </thead>
                                <tbody>
                                    {% for b in recent_reports %}
                                    <tr>
                                        <td>
                                            <a href="{{ b.link }}" target="_blank">{{ b.link }}</a>
                                        </td>
                                        <td>
                                            {{ b.title }}
                                        </td>
                                        <td>
                                            {{ b.age }} days old
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabUndecided">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                The list below shows the <code>confirmed</code> and <code>triaged</code> bug reports without an <code>importance</code>.
                            </div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <td>Bug</td>
                                    <td>Title</td>
                                    <td>Age</td>
                                </thead>
                                <tbody>
                                    {% for b in undecided_reports %}
                                    <tr>
                                        <td>
                                            <a href="{{ b.link }}" target="_blank">{{ b.link }}</a>
                                        </td>
                                        <td>
                                            {{ b.title }}
                                        </td>
                                        <td>
                                            {{ b.age }} days old
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabInconsistent">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                The list below shows bug reports which are inconsistent. Bugs with an assignee should be <code>In Progress</code>. Bugs which are <code>In Progress</code> but do not have an assignee should be set back to <code>confirmed</code> (or <code>new</code>).
                            </div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <td>Bug</td>
                                    <td>Title</td>
                                    <td>Age</td>
                                </thead>
                                <tbody>
                                    {% for b in inconsistent_reports %}
                                    <tr>
                                        <td>
                                            <a href="{{ b.link }}" target="_blank">{{ b.link }}</a>
                                        </td>
                                        <td>
                                            {{ b.title }}
                                        </td>
                                        <td>
                                            {{ b.age }} days old
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabFixCommitted">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                The list below shows bug reports in the state <code>Fix Committed</code>. Since the Mitaka cycle we use the direct release model, which means those bug reports should have <code>Fix Released</code>.
                            </div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <td>Bug</td>
                                    <td>Title</td>
                                    <td>Age</td>
                                </thead>
                                <tbody>
                                    {% for b in fix_committed %}
                                    <tr>
                                        <td>
                                            <a href="{{ b.link }}" target="_blank">{{ b.link }}</a>
                                        </td>
                                        <td>
                                            {{ b.title }}
                                        </td>
                                        <td>
                                            {{ b.age }} days old
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabIncomplete">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Incomplete bugs with a response. The response should be checked.
                            </div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <td>Bug</td>
                                    <td>Title</td>
                                    <td>Age</td>
                                </thead>
                                <tbody>
                                    {% for b in incomplete_response %}
                                    <tr>
                                        <td>
                                            <a href="{{ b.link }}" target="_blank">{{ b.link }}</a>
                                        </td>
                                        <td>
                                            {{ b.title }}
                                        </td>
                                        <td>
                                            {{ b.age }} days old
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabIncompleteStale">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                The list below shows bug reports which have the status incomplete for more than 30 days and are therefore potentially stale.
                            </div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <td>Bug</td>
                                    <td>Title</td>
                                    <td>Age</td>
                                </thead>
                                <tbody>
                                    {% for b in stale_incomplete %}
                                    <tr>
                                        <td>
                                            <a href="{{ b.link }}" target="_blank">{{ b.link }}</a>
                                        </td>
                                        <td>
                                            {{ b.title }}
                                        </td>
                                        <td>
                                            {{ b.age }} days old
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabInProgressStale">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                The list below shows bug reports which have the status
                                <code>in progress</code> for more than 14 days but do not have open reviews and are therefore potentially stale.
                            </div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <td>Bug</td>
                                    <td>Title</td>
                                    <td>Age</td>
                                </thead>
                                <tbody>
                                    {% for b in stale_in_progress %}
                                    <tr>
                                        <td>
                                            <a href="{{ b.link }}" target="_blank">{{ b.link }}</a>
                                        </td>
                                        <td>
                                            {{ b.title }}
                                        </td>
                                        <td>
                                            {{ b.age }} days old
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabWishlist">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                The list below shows old wishlist bug reports
                            </div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <td>Bug</td>
                                    <td>Title</td>
                                    <td>Age</td>
                                </thead>
                                <tbody>
                                    {% for b in old_wishlist %}
                                    <tr>
                                        <td>
                                            <a href="{{ b.link }}" target="_blank">{{ b.link }}</a>
                                        </td>
                                        <td>
                                            {{ b.title }}
                                        </td>
                                        <td>
                                            {{ b.age }} days old
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabExpired">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                The list below shows bug reports which got reported 18 months ago and are therefore potentially expired. To remove a still valid bug report from this list you can leave a comment like
                                <code>CONFIRMED FOR: RELEASE_NAME</code> (all caps) in that bug report. For example for Newton this would be
                                <code>CONFIRMED FOR: NEWTON</code>. This works also for the last stable releases.
                            </div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <td>Bug</td>
                                    <td>Title</td>
                                    <td>Age</td>
                                </thead>
                                <tbody>
                                    {% for b in expired_reports %}
                                    <tr>
                                        <td>
                                            <a href="{{ b.link }}" target="_blank">{{ b.link }}</a>
                                        </td>
                                        <td>
                                            {{ b.title }}
                                        </td>
                                        <td>
                                            {{ b.age }} days old
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabLowHangingFruit">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                The list below shows bug unassigned reports which are tagged as <code>low-hanging-fruit</code> which we use to highlight bugs that may be a good start for new contributors
                            </div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <td>Bug</td>
                                    <td>Title</td>
                                    <td>Age</td>
                                </thead>
                                <tbody>
                                    {% for b in low_hanging_fruit_reports %}
                                    <tr>
                                        <td>
                                            <a href="{{ b.link }}" target="_blank">{{ b.link }}</a>
                                        </td>
                                        <td>
                                            {{ b.title }}
                                        </td>
                                        <td>
                                            {{ b.age }} days old
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabBreaksGate">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                This is a list of bugs causing the gate to fail, and not let other patches in. If there is bugs here, they are the top priority
                            </div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <td>Bug</td>
                                    <td>Title</td>
                                    <td>Age</td>
                                </thead>
                                <tbody>
                                    {% for b in breaks_gate_reports %}
                                    <tr>
                                        <td>
                                            <a href="{{ b.link }}" target="_blank">{{ b.link }}</a>
                                        </td>
                                        <td>
                                            {{ b.title }}
                                        </td>
                                        <td>
                                            {{ b.age }} days old
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabDocs">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                The list below shows bugs for documentation.
                            </div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                    <td>Bug</td>
                                    <td>Title</td>
                                    <td>Age</td>
                                </thead>
                                <tbody>
                                    {% for b in docs_reports %}
                                    <tr>
                                        <td>
                                            <a href="{{ b.link }}" target="_blank">{{ b.link }}</a>
                                        </td>
                                        <td>
                                            {{ b.title }}
                                        </td>
                                        <td>
                                            {{ b.age }} days old
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-23042579-9', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
